<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/asset/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/public/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Dashboard</title>
  </head>
  
  <body>

    <% if(typeUser=='admin') { %>
    <% semesterArray.forEach((sem, index) => { %>
      <input type="hidden" id="sem<%= index + 1 %>" value="<%= sem %>">
    <% }); %>
    <% } %>
    

    

    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sidebar"
          aria-controls="offcanvasExample"
        >
          <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
        </button>
        <a
          class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold"
          href="/"
          ><img src="/public/asset/logo.png" alt="" srcset="" width="30">   Dashboard</a
        >
     
    
       
      </div>
    </nav>
    <!-- top navigation bar -->
<!-- offcanvas -->

<div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar">
  <div class="offcanvas-body p-0">
    <nav class="navbar-dark">
      <ul class="navbar-nav mt-3">
        <!-- ... (item-item lainnya) ... -->
        <% 
        const nowSelamat = new Date();
        const hours = nowSelamat.getHours();
        let selamat = '';
      
        if (hours >= 5 && hours < 10) {
          selamat = 'Pagi';
        } else if (hours >= 10 && hours < 16) {
          selamat = 'Siang';
        } else if (hours >= 16 && hours < 20) {
          selamat = 'Sore';
        } else {
          selamat = 'Malam';
        }
      %>
        <li style="margin-bottom: -18px">
          <div class="nav-link px-3">
            
              <strong>Selamat <%= selamat %>, </strong>
              <%= nameUser %>
              <h3><strong style="text-transform: capitalize;"><%= typeUser %></strong></h3>
          </div>
        </li>
        <li class="my-4"><hr class="dropdown-divider bg-light" style="margin-bottom: -28px;"></li>
        <li style="margin-bottom: -18px">
          <a href="/" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-house-door"></i></span>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="my-4"><hr class="dropdown-divider bg-light" style="margin-bottom: -28px;"></li>

        <% if(typeUser=='admin') { %>
        <!-- Dropdown Data Master -->
        <li class="nav-item" style="margin-bottom: -18px;">
          <a class="nav-link px-3" href="#" id="navbarDropdownMaster">
            <span class="me-2"><i class="bi bi-archive"></i></span>
            <span>Data Master</span>
          </a>
          <ul class="dropdown-menu bg-dark m-2 p-2" aria-labelledby="navbarDropdownMaster" style="border: 1px gray solid;">
            <li>
              <a href="/mahasiswa" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-person"></i></span>
                <span>Data Mahasiswa</span>
              </a>
            </li>
            <li>
              <a href="/dosen" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-person-fill"></i></span>
                <span>Data Dosen</span>
              </a>
            </li>
            <li>
              <a href="/admin" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-gear"></i></span>
                <span>Data Admin</span>
              </a>
            </li>
            <li>
              <a href="/mata-kuliah" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-book"></i></span>
                <span>Mata Kuliah</span>
              </a>
            </li>
            <li>
              <a href="/prodi" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-bookmarks"></i></span>
                <span>Program Studi</span>
              </a>
            </li>
            
          </ul>
        </li>
        <li class="my-4"><hr class="dropdown-divider bg-light" style="margin-bottom: -28px;"></li>
        <!-- Dropdown Data Master -->
        <li class="nav-item" style="margin-bottom: -18px;">
          <a class="nav-link px-3" href="#" id="navbarDropdownMaster1">
            <span class="me-2"><i class="bi bi-clipboard-data"></i></span>
            <span>Data Penilaian</span>
          </a>
          <ul class="dropdown-menu dropdown-menu1 bg-dark m-2 p-2" aria-labelledby="navbarDropdownMaster1" style="border: 1px gray solid;">
            <li>
              <a href="/pl" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-award"></i></span>
                <span>Profil Kelulusan</span>
              </a>
            </li>
            <li>
              <a href="/bk" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-journal"></i></span>
                <span>Bahan Kajian</span>
              </a>
            </li>
            <li>
              <a href="/cpl" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-graph-up"></i></span>
                <span>Competency Proficiency</span>
              </a>
            </li>
            <li>
              <a href="/cpmk" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-clipboard"></i></span>
                <span>Capaian Pembelajaran MK</span>
              </a>
            </li>
            <li>
              <a href="/epm" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-check2-circle"></i></span>
                <span>Evaluasi Pembelajaran</span>
              </a>
            </li>
            <li>
              <a href="/pemetaan" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-bookmark"></i></span>
                <span>Pemetaan</span>
              </a>
            </li>
            
          </ul>
        </li>
        <li class="my-4"><hr class="dropdown-divider bg-light" style="margin-bottom: -28px;"></li>
        <% } else { %>
          <li style="margin-bottom: -18px">
            <a href="/biodata" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-person"></i></span>
              <span>Biodata</span>
            </a>
          </li>
          <li class="my-4"><hr class="dropdown-divider bg-light" style="margin-bottom: -28px;"></li>
          <% } %>
        <li class="nav-item" style="margin-bottom: -18px;">
          <a class="nav-link px-3" href="#" id="navbarDropdownMaster2">
            <span class="me-2"><i class="bi bi-collection"></i></span>
            <span>Penilaian</span>
          </a>
          <ul class="dropdown-menu dropdown-menu2 bg-dark m-2 p-2" aria-labelledby="navbarDropdownMaster2" style="border: 1px gray solid;">
            <li>
              <a href="/krs" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-journal"></i></span>
                <span>KRS</span>
              </a>
            </li>
            <% if(typeUser=='dosen' || typeUser=='admin') { %>
            <li>
              <a href="/penilaian" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-card-checklist"></i></span>
                <span>Penilaian Mahasiswa</span>
              </a>
            </li>
            <% } %>
            <li>
              <a href="/daftar-nilai" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi-journals"></i></span>
                <span>Daftar Nilai</span>
              </a>
            </li>
            
          </ul>
        </li>
        <li class="my-4"><hr class="dropdown-divider bg-light" style="margin-bottom: -28px;"></li>
        <li class="nav-item" style="margin-bottom: -18px;">
          <a class="nav-link px-3" href="#" id="navbarDropdownMaster3">
            <span class="me-2"><i class="bi bi-gear"></i></span>
            <span>Setting</span>
          </a>
          <ul class="dropdown-menu dropdown-menu3 bg-dark m-2 p-2" aria-labelledby="navbarDropdownMaster3" style="border: 1px gray solid;">
            <li>
              <a href="/logout" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-box-arrow-right"></i></span>
                <span>Logout</span>
              </a>
            </li>
            
          </ul>
        </li>
        <li class="my-4"><hr class="dropdown-divider bg-light" style="margin-bottom: -28px;"></li>
      </ul>
    </nav>
  </div>
</div>


<!-- offcanvas -->

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const dropdownToggle = document.getElementById('navbarDropdownMaster');
    const dropdownMenu = document.querySelector('.dropdown-menu');

    dropdownToggle.addEventListener('click', function(event) {
      event.preventDefault();

      if (dropdownMenu.style.display === 'block') {
        dropdownMenu.style.display = 'none';
      } else {
        dropdownMenu.style.display = 'block';
      }
    });

    });
    document.addEventListener('DOMContentLoaded', function() {
    const dropdownToggle = document.getElementById('navbarDropdownMaster1');
    const dropdownMenu = document.querySelector('.dropdown-menu1');

    dropdownToggle.addEventListener('click', function(event) {
      event.preventDefault();

      if (dropdownMenu.style.display === 'block') {
        dropdownMenu.style.display = 'none';

      } else {
        dropdownMenu.style.display = 'block';
      }
    });

    });
    document.addEventListener('DOMContentLoaded', function() {
    const dropdownToggle = document.getElementById('navbarDropdownMaster2');
    const dropdownMenu = document.querySelector('.dropdown-menu2');

    dropdownToggle.addEventListener('click', function(event) {
      event.preventDefault();

      if (dropdownMenu.style.display === 'block') {
        dropdownMenu.style.display = 'none';
      } else {
        dropdownMenu.style.display = 'block';
      }
    });

    });
    document.addEventListener('DOMContentLoaded', function() {
    const dropdownToggle = document.getElementById('navbarDropdownMaster3');
    const dropdownMenu = document.querySelector('.dropdown-menu3');

    dropdownToggle.addEventListener('click', function(event) {
      event.preventDefault();

      if (dropdownMenu.style.display === 'block') {
        dropdownMenu.style.display = 'none';
      } else {
        dropdownMenu.style.display = 'block';
      }
    });

    });
</script>

<!-- offcanvas -->

    <main class="mt-5 pt-3" style="overflow: hidden;">
      <div class="container-fluid">
    
        <div class="row">
          <% if(typeUser=='admin') { %>
          <div class="col-md-3 mb-3">
            <div class="card bg-primary text-white h-100">
              <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person me-2" style="font-size: 3rem;"></i> <!-- Icon mahasiswa -->
                  <div>
                    <h3>Mhs</h3>
                    <h5>Total : <%= totalMahasiswa %></h5>
                  </div>
                </div>
                
              </div>
              <div class="card-footer d-flex">
                <a href="/mahasiswa" class="text-decoration-none text-white d-flex align-items-center">
                  View Details
                
                </a>
              </div>
              
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card bg-warning text-white h-100">
              <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person-fill me-2" style="font-size: 3rem;"></i> <!-- Icon mahasiswa -->
                  <div>
                    <h3>Dosen</h3>
                    <h5>Total : <%= totalDosen %></h5>
                  </div>
                </div>
                
              </div>
              <div class="card-footer d-flex">
                <a href="/dosen" class="text-decoration-none text-white d-flex align-items-center">
                  View Details
                
                </a>
              </div>
              
            </div>
          </div>
          
          <div class="col-md-3 mb-3">
            <div class="card bg-success text-white h-100">
              <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <i class="bi bi-book me-2" style="font-size: 3rem;"></i> <!-- Icon mahasiswa -->
                  <div>
                    <h3>Matkul</h3>
                    <h5>Total : <%= totalMk %></h5>
                  </div>
                </div>
                
              </div>
              <div class="card-footer d-flex">
                <a href="/mk" class="text-decoration-none text-white d-flex align-items-center">
                  View Details
                
                </a>
              </div>
              
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card bg-secondary text-white h-100">
              <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <i class="bi bi-graph-up me-2" style="font-size: 3rem;"></i> <!-- Icon mahasiswa -->
                  <div>
                    <h3>User</h3>
                    <h5>Total : <%= totalUser %></h5>
                  </div>
                </div>
                
              </div>
              <!-- <div class="card-footer d-flex">
                <a href="/mahasiswa" class="text-decoration-none text-white d-flex align-items-center">
                  View Details
                
                </a>
              </div> -->
              
            </div>
          </div>
          <% } %>
          <% if(typeUser=='mahasiswa') { %>
            <div class="col-md-4 mb-3">
              <div class="card bg-success text-white h-100">
                <div class="card-body d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-person me-2" style="font-size: 3rem;"></i> <!-- Icon mahasiswa -->
                    <div>
                      <h3>Mahasiswa</h3>
                      <h5><%= nameUser %></h5>
                    </div>
                  </div>
                  
                </div>
                
                
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="card bg-primary text-white h-100">
                <div class="card-body d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-clipboard-check me-2" style="font-size: 3rem;"></i> <!-- Icon mahasiswa -->
                    <div>
                      <h3>SKS TOTAL</h3>
                      <h5><%= SksTotal %> SKS</h5>
                    </div>
                  </div>
                  
                </div>
                
                
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="card bg-warning text-white h-100">
                <div class="card-body d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-clipboard me-2" style="font-size: 3rem;"></i> <!-- Icon mahasiswa -->
                    <div>
                      <h3>SKS PROGRAM</h3>
                      <h5><%= SksProgram %> SKS</h5>
                    </div>
                  </div>
                  
                </div>
                
                
              </div>
            </div>
            
            <% } %>
        <div class="row">
          <% if(typeUser=='admin'){ %>
          <div class="col-md-6 mb-3">
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                Jumlah Mahasiswa Persemester
              </div>
              <div class="card-body">
                <canvas class="chart-smt" width="400" height="200"></canvas>
              </div>
            </div>
          </div>
          <% } %>
          <div class="col">
            <div class="card-header">
              <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
              Jadwal Hari Ini
            </div>
            <div class="jadwal" style="overflow-y: scroll; height: 400px;">
            <ul class="list-group h-100" style="overflow: scroll;">
              <% 
              if(typeUser=='admin'){
              const now = new Date();
              const currentHour = now.getHours();
              const currentMinutes = now.getMinutes();
              let i = 0;
          
              const hariSekarang = now.toLocaleString('id-ID', { weekday: 'long' }).toLowerCase();
              resultsJadwal.forEach(jadwal => { 
                
                  if (jadwal.hari.toLowerCase() === hariSekarang) { 
                      const [jamMulai, jamSelesai] = jadwal.waktu.split('-');
                      const [jamMulaiH, jamMulaiM] = jamMulai.split('.');
                      const [jamSelesaiH, jamSelesaiM] = jamSelesai.split('.');
          
                      if (currentHour > jamMulaiH || (currentHour == jamMulaiH && currentMinutes >= jamMulaiM)) {
                          if (currentHour < jamSelesaiH || (currentHour == jamSelesaiH && currentMinutes < jamSelesaiM)) {
          %>
                              <li class="list-group-item">
                                  <div>
                                      <span class="font-weight-bold"><%= jadwal.waktu %></span>
                                      <span class="font-weight-bold text-success">----- <b>Sedang Mengajar</b></span>
                                      <br>
                                      <%= jadwal.nama_matkul %>
                                  </div>
                              </li>
          <%
                          }else{%>
                            <li class="list-group-item">
                              <div>
                                  <span class="font-weight-bold"><%= jadwal.waktu %></span>
                                  <span class="font-weight-bold text-danger">-----  <b>Sudah Lewat</b></span>
                                  <br>
                                  <%= jadwal.nama_matkul %>
                              </div>
                          </li>
                            <%
                          }
                      }else{
                        %>
                        <li class="list-group-item">
                          <div>
                              <span class="font-weight-bold"><%= jadwal.waktu %></span>
                              <span class="font-weight-bold text-warning">----- <b>Belum Mulai</b></span>
                              <br>
                              <%= jadwal.nama_matkul %>
                          </div>
                      </li>
                        <%
                      }
                  }else if (
                    hariSekarang.toLowerCase() !== "senin" &&
                    hariSekarang.toLowerCase() !== "selasa" &&
                    hariSekarang.toLowerCase() !== "rabu" &&
                    hariSekarang.toLowerCase() !== "kamis" &&
                    hariSekarang.toLowerCase() !== "jumat" && i <= 0
                    
                  ) {
                    %>
                    <li class="list-group-item" style="width: 100%;">
                      <div class="" style="margin: auto;">
                        <span class="font-weight-bold"> Tidak ada Jadwal</span>
                        <span class="font-weight-bold text-warning"></span>
                        <br>
                      </div>
                    </li>
                    <%  
                    i++;
                  }
                  
              }); 
            }
          %>
          <% 
          if(typeUser=='mahasiswa'){
          const now = new Date();
          const currentHour = now.getHours();
          const currentMinutes = now.getMinutes();
          let i = 0;
      
          const hariSekarang = now.toLocaleString('id-ID', { weekday: 'long' }).toLowerCase();
          resultsSksJadwal.forEach(jadwal => { 
            
              if (jadwal.hari.toLowerCase() === 'senin') { 
                  const [jamMulai, jamSelesai] = jadwal.waktu.split('-');
                  const [jamMulaiH, jamMulaiM] = jamMulai.split('.');
                  const [jamSelesaiH, jamSelesaiM] = jamSelesai.split('.');
      
                  if (currentHour > jamMulaiH || (currentHour == jamMulaiH && currentMinutes >= jamMulaiM)) {
                      if (currentHour < jamSelesaiH || (currentHour == jamSelesaiH && currentMinutes < jamSelesaiM)) {
      %>
                          <li class="list-group-item">
                              <div>
                                  <span class="font-weight-bold"><%= jadwal.waktu %></span>
                                  <span class="font-weight-bold text-success">----- <b>Sedang Mengajar</b></span>
                                  <br>
                                  <%= jadwal.nama_matkul %>
                              </div>
                          </li>
      <%
                      }else{%>
                        <li class="list-group-item">
                          <div>
                              <span class="font-weight-bold"><%= jadwal.waktu %></span>
                              <span class="font-weight-bold text-danger">-----  <b>Sudah Lewat</b></span>
                              <br>
                              <%= jadwal.nama_matkul %>
                          </div>
                      </li>
                        <%
                      }
                  }else{
                    %>
                    <li class="list-group-item">
                      <div>
                          <span class="font-weight-bold"><%= jadwal.waktu %></span>
                          <span class="font-weight-bold text-warning">----- <b>Belum Mulai</b></span>
                          <br>
                          <%= jadwal.nama_matkul %>
                      </div>
                  </li>
                    <%
                  }
              }else if (
                hariSekarang.toLowerCase() !== "senin" &&
                hariSekarang.toLowerCase() !== "selasa" &&
                hariSekarang.toLowerCase() !== "rabu" &&
                hariSekarang.toLowerCase() !== "kamis" &&
                hariSekarang.toLowerCase() !== "jumat" && i <= 0
                
              ) {
                %>
                <li class="list-group-item" style="width: 100%;">
                  <div class="" style="margin: auto;">
                    <span class="font-weight-bold"> Tidak ada Jadwal</span>
                    <span class="font-weight-bold text-warning"></span>
                    <br>
                  </div>
                </li>
                <%  
                i++;
              }
              
          }); 
        }
      %>
          </ul>
        </div>
          
        </div>
        
        </div>
      </div>
    </div>
       
      </div>
    </main>
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="/public/js/jquery-3.5.1.js"></script>
    <script src="/public/js/jquery.dataTables.min.js"></script>
    <script src="/public/js/dataTables.bootstrap5.min.js"></script>
    <script src="/public/js/script.js"></script>
  </body>
</html>
