<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/asset/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/public/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Dashboard</title>
  </head>
  
  <body>
    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sidebar"
          aria-controls="offcanvasExample"
        >
          <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
        </button>
        <a
          class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold"
          href="/"
          ><img src="/public/asset/logo.png" alt="" srcset="" width="30">   Dashboard</a
        >
     
       
      </div>
    </nav>
    <!-- top navigation bar -->
 
<!-- offcanvas -->

<div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar">
  <div class="offcanvas-body p-0">
    <nav class="navbar-dark">
      <ul class="navbar-nav mt-3">
        <!-- ... (item-item lainnya) ... -->
        <% 
        const nowSelamat = new Date();
        const hours = nowSelamat.getHours();
        let selamat = '';
      
        if (hours >= 5 && hours < 10) {
          selamat = 'Pagi';
        } else if (hours >= 10 && hours < 16) {
          selamat = 'Siang';
        } else if (hours >= 16 && hours < 20) {
          selamat = 'Sore';
        } else {
          selamat = 'Malam';
        }
      %>
        <li style="margin-bottom: -18px">
          <div class="nav-link px-3">
            
              <strong>Selamat <%= selamat %>, </strong>
              <%= nameUser %>
              <h3><strong style="text-transform: capitalize;"><%= typeUser %></strong></h3>
          </div>
        </li>
        <li class="my-4"><hr class="dropdown-divider bg-light" style="margin-bottom: -28px;"></li>
        <li style="margin-bottom: -18px">
          <a href="/" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-house-door"></i></span>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="my-4"><hr class="dropdown-divider bg-light" style="margin-bottom: -28px;"></li>

        <% if(typeUser=='admin') { %>
        <!-- Dropdown Data Master -->
        <li class="nav-item" style="margin-bottom: -18px;">
          <a class="nav-link px-3" href="#" id="navbarDropdownMaster">
            <span class="me-2"><i class="bi bi-archive"></i></span>
            <span>Data Master</span>
          </a>
          <ul class="dropdown-menu bg-dark m-2 p-2" aria-labelledby="navbarDropdownMaster" style="border: 1px gray solid;">
            <li>
              <a href="/mahasiswa" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-person"></i></span>
                <span>Data Mahasiswa</span>
              </a>
            </li>
            <li>
              <a href="/dosen" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-person-fill"></i></span>
                <span>Data Dosen</span>
              </a>
            </li>
            <li>
              <a href="/admin" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-gear"></i></span>
                <span>Data Admin</span>
              </a>
            </li>
            <li>
              <a href="/mata-kuliah" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-book"></i></span>
                <span>Mata Kuliah</span>
              </a>
            </li>
            <li>
              <a href="/prodi" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-bookmarks"></i></span>
                <span>Program Studi</span>
              </a>
            </li>
            
          </ul>
        </li>
        <li class="my-4"><hr class="dropdown-divider bg-light" style="margin-bottom: -28px;"></li>
        <!-- Dropdown Data Master -->
        <li class="nav-item" style="margin-bottom: -18px;">
          <a class="nav-link px-3" href="#" id="navbarDropdownMaster1">
            <span class="me-2"><i class="bi bi-clipboard-data"></i></span>
            <span>Data Penilaian</span>
          </a>
          <ul class="dropdown-menu dropdown-menu1 bg-dark m-2 p-2" aria-labelledby="navbarDropdownMaster1" style="border: 1px gray solid;">
            <li>
              <a href="/pl" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-award"></i></span>
                <span>Profil Kelulusan</span>
              </a>
            </li>
            <li>
              <a href="/bk" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-journal"></i></span>
                <span>Bahan Kajian</span>
              </a>
            </li>
            <li>
              <a href="/cpl" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-graph-up"></i></span>
                <span>Competency Proficiency</span>
              </a>
            </li>
            <li>
              <a href="/cpmk" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-clipboard"></i></span>
                <span>Capaian Pembelajaran MK</span>
              </a>
            </li>
            <li>
              <a href="/epm" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-check2-circle"></i></span>
                <span>Evaluasi Pembelajaran</span>
              </a>
            </li>
            <li>
              <a href="/pemetaan" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-bookmark"></i></span>
                <span>Pemetaan</span>
              </a>
            </li>
            
          </ul>
        </li>
        <li class="my-4"><hr class="dropdown-divider bg-light" style="margin-bottom: -28px;"></li>
        <% } else { %>
          <li style="margin-bottom: -18px">
            <a href="/biodata" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-person"></i></span>
              <span>Biodata</span>
            </a>
          </li>
          <li class="my-4"><hr class="dropdown-divider bg-light" style="margin-bottom: -28px;"></li>
          <% } %>
        <li class="nav-item" style="margin-bottom: -18px;">
          <a class="nav-link px-3" href="#" id="navbarDropdownMaster2">
            <span class="me-2"><i class="bi bi-collection"></i></span>
            <span>Penilaian</span>
          </a>
          <ul class="dropdown-menu dropdown-menu2 bg-dark m-2 p-2" aria-labelledby="navbarDropdownMaster2" style="border: 1px gray solid;">
            <li>
              <a href="/krs" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-journal"></i></span>
                <span>KRS</span>
              </a>
            </li>
            <% if(typeUser=='dosen' || typeUser=='admin') { %>
            <li>
              <a href="/penilaian" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-card-checklist"></i></span>
                <span>Penilaian Mahasiswa</span>
              </a>
            </li>
            <% } %>
            <li>
              <a href="/daftar-nilai" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi-journals"></i></span>
                <span>Daftar Nilai</span>
              </a>
            </li>
            
          </ul>
        </li>
        <li class="my-4"><hr class="dropdown-divider bg-light" style="margin-bottom: -28px;"></li>
        <li class="nav-item" style="margin-bottom: -18px;">
          <a class="nav-link px-3" href="#" id="navbarDropdownMaster3">
            <span class="me-2"><i class="bi bi-gear"></i></span>
            <span>Setting</span>
          </a>
          <ul class="dropdown-menu dropdown-menu3 bg-dark m-2 p-2" aria-labelledby="navbarDropdownMaster3" style="border: 1px gray solid;">
            <li>
              <a href="/logout" class="nav-link px-3" style="font-size: 0.8em;">
                <span class="me-2"><i class="bi bi-box-arrow-right"></i></span>
                <span>Logout</span>
              </a>
            </li>
            
          </ul>
        </li>
        <li class="my-4"><hr class="dropdown-divider bg-light" style="margin-bottom: -28px;"></li>
      </ul>
    </nav>
  </div>
</div>


<!-- offcanvas -->

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const dropdownToggle = document.getElementById('navbarDropdownMaster');
    const dropdownMenu = document.querySelector('.dropdown-menu');

    dropdownToggle.addEventListener('click', function(event) {
      event.preventDefault();

      if (dropdownMenu.style.display === 'block') {
        dropdownMenu.style.display = 'none';
      } else {
        dropdownMenu.style.display = 'block';
      }
    });

    });
    document.addEventListener('DOMContentLoaded', function() {
    const dropdownToggle = document.getElementById('navbarDropdownMaster1');
    const dropdownMenu = document.querySelector('.dropdown-menu1');

    dropdownToggle.addEventListener('click', function(event) {
      event.preventDefault();

      if (dropdownMenu.style.display === 'block') {
        dropdownMenu.style.display = 'none';

      } else {
        dropdownMenu.style.display = 'block';
      }
    });

    });
    document.addEventListener('DOMContentLoaded', function() {
    const dropdownToggle = document.getElementById('navbarDropdownMaster2');
    const dropdownMenu = document.querySelector('.dropdown-menu2');

    dropdownToggle.addEventListener('click', function(event) {
      event.preventDefault();

      if (dropdownMenu.style.display === 'block') {
        dropdownMenu.style.display = 'none';
      } else {
        dropdownMenu.style.display = 'block';
      }
    });

    });
    document.addEventListener('DOMContentLoaded', function() {
    const dropdownToggle = document.getElementById('navbarDropdownMaster3');
    const dropdownMenu = document.querySelector('.dropdown-menu3');

    dropdownToggle.addEventListener('click', function(event) {
      event.preventDefault();

      if (dropdownMenu.style.display === 'block') {
        dropdownMenu.style.display = 'none';
      } else {
        dropdownMenu.style.display = 'block';
      }
    });

    });
</script>

<!-- offcanvas -->

<script>
 document.addEventListener('DOMContentLoaded', function() {
  const dropdownToggle = document.getElementById('navbarDropdownMaster');
  const dropdownMenu = document.querySelector('.dropdown-menu');

  dropdownToggle.addEventListener('click', function(event) {
    event.preventDefault();

    if (dropdownMenu.style.display === 'block') {
      dropdownMenu.style.display = 'none';
    } else {
      dropdownMenu.style.display = 'block';
    }
  });

  });
  document.addEventListener('DOMContentLoaded', function() {
  const dropdownToggle = document.getElementById('navbarDropdownMaster1');
  const dropdownMenu = document.querySelector('.dropdown-menu1');

  dropdownToggle.addEventListener('click', function(event) {
    event.preventDefault();

    if (dropdownMenu.style.display === 'block') {
      dropdownMenu.style.display = 'none';

    } else {
      dropdownMenu.style.display = 'block';
    }
  });

  });
  document.addEventListener('DOMContentLoaded', function() {
  const dropdownToggle = document.getElementById('navbarDropdownMaster2');
  const dropdownMenu = document.querySelector('.dropdown-menu2');

  dropdownToggle.addEventListener('click', function(event) {
    event.preventDefault();

    if (dropdownMenu.style.display === 'block') {
      dropdownMenu.style.display = 'none';
    } else {
      dropdownMenu.style.display = 'block';
    }
  });

  });
  document.addEventListener('DOMContentLoaded', function() {
  const dropdownToggle = document.getElementById('navbarDropdownMaster3');
  const dropdownMenu = document.querySelector('.dropdown-menu3');

  dropdownToggle.addEventListener('click', function(event) {
    event.preventDefault();

    if (dropdownMenu.style.display === 'block') {
      dropdownMenu.style.display = 'none';
    } else {
      dropdownMenu.style.display = 'block';
    }
  });

  });
</script>

<!-- offcanvas -->


    <main class="mt-5 pt-3" style="overflow: hidden;">
      <div class="container-fluid">
        <div class="container mt-5">
            <h1 class="mb-4">Kumpulan KRS</h1>
            <div class="table-responsive">
            <table id="example" class="table table-striped data-table" style="width: 100%">
                <thead>
                    <tr>
                        <th scope="col-1">NO</th>
                        <th scope="col-1">Matakuliah</th>
                        <th scope="col-1">SKS</th>
              
                        <%  if(typeUser=='admin'){ %>
                        <th scope="col-1">Semester</th>
                        <th scope="col-2">Jml</th>
                        <% }else if(typeUser=='mahasiswa'){ %>
                          <th scope="col-3">Jadwal</th>
                        <% } %>
                        <th scope="col-1">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                  
                    <% 
                    if(typeUser=='admin'){
                    let a = 1; 
                    data.forEach(item => {  %>
                        <tr>
                          <td><%= a %></td>
                          <td><%= item.nama_matkul %></td>
                          <td><%= item.sks %></td>
                          <td><%= item.smt %></td>
                          <td><%= item.jml_krs || 0 %>/30</td>
                          <td>
                            <a href="/detail-krs/<%= item.kode_mk %>" class="btn btn-info btn-sm"><i class="bi bi-info-circle"></i></a>
                            <a href="/input-krs/<%= item.kode_mk %>" class="btn btn-warning btn-sm"><i class="bi bi-plus-circle"></i></a>
                          </td>
                        </tr>
                      <% a++ }); } %>
                    
                    <% 
                    if(typeUser=='mahasiswa'){
                    let a = 1;
                    dataKrsMahasiswa.forEach(item => {  
                      const [hari, jam] = item.jadwal.split('_');
                      %>
                        <tr>
                          <td><%= a %></td>
                          <td><%= item.nama_matkul %></td>
                          <td><%= item.sks %></td>
                          <td style="text-transform: capitalize;"><%= hari %> <%= jam %></td>
                          <td>
                            <a href="/detail-krs/<%= item.kode_mk %>" class="btn btn-info btn-sm"><i class="bi bi-info-circle"></i></a>
                              </td>
                        </tr>
                      <% a++ 
                    }); } %>
                  </tbody>
                  
            </table>
            
            </div>
      </div>
    </main>
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="/public/js/jquery-3.5.1.js"></script>
    <script src="/public/js/jquery.dataTables.min.js"></script>
    <script src="/public/js/dataTables.bootstrap5.min.js"></script>
    <script src="/public/js/script.js"></script>
  </body>
</html>
